<ion-content>
	<header>
		<section class="top">
			<div class="title-container">
				<h1>Lesley's Home</h1>
				<h2>Smart Home</h2>
			</div>
			<div class="img-container"
				[style.background-image]="'url(https://i.ytimg.com/vi/7Xu_s1YJhyg/maxresdefault.jpg)'">
			</div>
		</section>
		<section class="bottom">
			<div>
				<h1>24˚C</h1>
				<p>avg house temp</p>
			</div>
			<div>
				<h1>69%</h1>
				<p>humidity</p>
			</div>
			<div>
				<h1>36˚C</h1>
				<p>outside temp</p>
			</div>
			<div>
				<h1>8</h1>
				<p>devices on</p>
			</div>
		</section>
	</header>
	<main>
		<section class="subtitle">
			<h1>Routines</h1>
			<h2>View all</h2>
		</section>
		<section class="list-routines">
			<section class="routine-container">
				<div class="card-routine actived">
					<i class="icon-cloud1"></i>
					<h1>Morning</h1>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-routine">
					<i class="icon-cloud1"></i>
					<h1>I'm Out</h1>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-routine">
					<i class="icon-cloud1"></i>
					<h1>Back Home</h1>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-routine">
					<i class="icon-cloud1"></i>
					<h1>Office</h1>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-routine">
					<i class="icon-cloud1"></i>
					<h1>Office</h1>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-routine">
					<i class="icon-cloud1"></i>
					<h1>Office</h1>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-routine">
					<i class="icon-cloud1"></i>
					<h1>Office</h1>
				</div>
			</section>
			<div class="spacer"></div>
		</section>
		<section class="subtitle">
			<h1>Rooms</h1>
			<h2>View all</h2>
		</section>
		<section class="list-rooms">
			<section class="routine-container">
				<div class="card-room">
					<div class="icon-container">
						<div class="icon">
							<i class="icon-video"></i>
						</div>
					</div>
					<div class="infos">
						<h1>Living room</h1>
						<div class="more">
							<div class="temp">
								<i class="icon-section"></i>23˚C
							</div>
							<div class="humidity">
								<i class="icon-section"></i>74%
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-room">
					<div class="icon-container">
						<div class="icon">
							<i class="icon-video"></i>
						</div>
					</div>
					<div class="infos">
						<h1>Living room</h1>
						<div class="more">
							<div class="temp">
								<i class="icon-section"></i>23˚C
							</div>
							<div class="humidity">
								<i class="icon-section"></i>74%
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-room">
					<div class="icon-container">
						<div class="icon">
							<i class="icon-video"></i>
						</div>
					</div>
					<div class="infos">
						<h1>Living room</h1>
						<div class="more">
							<div class="temp">
								<i class="icon-section"></i>23˚C
							</div>
							<div class="humidity">
								<i class="icon-section"></i>74%
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-room">
					<div class="icon-container">
						<div class="icon">
							<i class="icon-video"></i>
						</div>
					</div>
					<div class="infos">
						<h1>Living room</h1>
						<div class="more">
							<div class="temp">
								<i class="icon-section"></i>23˚C
							</div>
							<div class="humidity">
								<i class="icon-section"></i>74%
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="routine-container">
				<div class="card-room">
					<div class="icon-container">
						<div class="icon">
							<i class="icon-video"></i>
						</div>
					</div>
					<div class="infos">
						<h1>Living room</h1>
						<div class="more">
							<div class="temp">
								<i class="icon-section"></i>23˚C
							</div>
							<div class="humidity">
								<i class="icon-section"></i>74%
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="spacer"></div>
		</section>
	</main>
	<footer>
		<div class="actived">
			<i class="icon-cloud1"></i>
		</div>
		<div>
			<i class="icon-bar-graph"></i>
		</div>
		<div>
			<i class="icon-bell1"></i>
		</div>
		<div>
			<i class="icon-cog2"></i>
		</div>
	</footer>
</ion-content>
